<div class="container">
    <pre>
                                                                                 Stock Market
    </pre>
</div>
<div class="container">
    <table class="table table-bordered table-hover" style="margin:2%">
        <tr>
            <td style='text-align:center;vertical-align:middle'>
                <button class="btn-primary" (click)="ToAdmin()" >Admin</button>
            </td>
            <td style='text-align:center;vertical-align:middle'>
                <button class="btn-primary" (click)="ToUser()">User</button>
            </td>
        </tr>
    </table>
</div>
